.ui-menu {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 2px;
}

.ui-autocomplete {
	max-height: 160px;
	width: 240px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */

}

.ui-widget-content {
    background-color: #efefef;
    border: 1px solid #ccc;
}

.ui-menu-item {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ui-menu-item a {
	display: block;
	padding: 5px;
}

.ui-state-hover {
	font-weight: bold;
	background-color: #b8ddff;
}