@charset "UTF-8";
body{font:13px/1.5 'Helvetica Neue',Arial,Helvetica,sans-serif;color:#0e2334;letter-spacing:0.5px;}
a{color:#247dd2;text-decoration:none;}
h1{font-size:25px}
h2{font-size:23px}
h3{font-size:21px}
h4{font-size:19px}
h5{font-size:17px}
h6{font-size:15px}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}

.red { color:red; }

.em { font-weight:bolder; }

#header {
	width:450px;
	height: 50px;
	background: url("../images/blue_bg_repeat.png") repeat-x scroll 0 0 transparent;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#header img {
	margin-left:15px;
}

.div-form {
  margin-top:5px;
  width: 450px;
  border: 1px solid #ccc;
  color: #666;
  background-color: #efefef;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.div-form #link, 
.div-form #title, 
.div-form #description, 
.div-form #tags, 
.div-form #similar, 
.div-form #email_label, 
.div-form #password_label {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
}


.div-form #schedule {
	padding:8px, 16px;
}

.div-form #link img {
	vertical-align:middle;
}
.div-form div.tagsinput input {
  border: 1px solid transparent;
  color: #000000;
}

.div-form #base {
  margin: 8px;
}

.div-form #guidelines {
  display:inline-block;
  margin-top: 5px;
}

.div-form #guidelines a {
  font-size: 12px;
}

.div-form #login_actions, .div-form #post_actions {
	display:inline-block;
	float:right;
}

.div-form label {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
}

.div-form input, .div-form textarea {
  font-size: 14px;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
}

#post_title, #question_title, #post_link, #post_tag_list, #email, #password {
  width: 400px;
}

#post_link {
	width:375px;
	vertical-align:middle;
	margin-right:5px;
}

.div-form .similar_post {
  display: block;
  padding: 3px 6px;
}

.div-form .similar_post:hover {
  background-color: #DEDEDE;
}

.div-form #post_description, .div-form #question_description {
  width: 400px;
  height: 40px;
}

.div-form #post_snippet {
  width: 400px;
  height: 180px;
}

.div-form .message {
  margin: 0 20px;
  font-weight: bold;
  font-size: 14px;
}

#post_button, #login_button {
	border-radius: 10px;
	color:#fff;
	background-color:#034078;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,#034078), color-stop(100%,#47a)); 
	padding: 5px 25px;
	border:1px solid black;
/*	border-bottom:1px solid white;*/
	box-shadow: 0px 2px 0px 0px #444;
	font-weight:bold;
	font-size:130%;
	font-variant:small-caps;
	text-shadow:0 -1px 0 #000;
}

#post_button:active, #login_button:active {
	border-bottom:none;
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,#034078), color-stop(100%,#69c)); */
	position:relative;
	top:3px;
	box-shadow:none;
}

#post_spinner, #login_spinner {
	display: inline-block;
}

#status_container {
	border-radius: 10px;
	margin:10px;
	padding:5px;
}

#status_container.error {
	border:2px solid red;
	background:#fcc;
	color:#000;
}

#status_container.success {
	border:2px solid green;
	background:#cfc;
	color:#000;
}

#status_container li {
	  list-style: none outside none;
	  text-align:center;
}

/* Autocomplete */
.ui-menu {
	display: block;
	float: left;
	list-style: none outside none;
	margin: 0;
	padding: 2px;
}

.ui-autocomplete {
	max-height: 160px;
	width: 240px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
}

.ui-widget-content {
	background-color: #efefef;
	border: 1px solid #ccc;
}

.ui-menu-item {
	clear: left;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

.ui-menu-item a {
	display: block;
	padding: 5px;
}

.ui-state-hover {
	font-weight: bold;
	background-color: #b8ddff;
}
