<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Nick Peelman</string>
	<key>Builder Version</key>
	<string>7534.53.10</string>
	<key>CFBundleDisplayName</key>
	<string>Talentopoly</string>
	<key>CFBundleIdentifier</key>
	<string>us.peelman.talentopoly.safariext</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Height</key>
				<real>276</real>
				<key>Identifier</key>
				<string>PopoverSharer</string>
				<key>Width</key>
				<real>470</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>BtnShareOnTalentopoly</string>
				<key>Image</key>
				<string>icon-16.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Talentopoly</string>
				<key>Palette Label</key>
				<string>Talentopoly</string>
				<key>Popover</key>
				<string>PopoverSharer</string>
				<key>Tool Tip</key>
				<string>Share this page on Talentopoly!</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>bookmarklet.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Share links on Talentopoly!</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://peelman.us/talentopoly/manifest.xml</string>
	<key>Website</key>
	<string>http://talentopoly.com</string>
</dict>
</plist>
