<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>api_key</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>API Key</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>never</string>
		<key>Key</key>
		<string>openOnPost</string>
		<key>Title</key>
		<string>Open Posts</string>
		<key>Titles</key>
		<array>
			<string>Never</string>
			<string>In the Background</string>
			<string>In the Foreground</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>never</string>
			<string>background</string>
			<string>foreground</string>
		</array>
	</dict>
</array>
</plist>
